* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("images/3.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}
.container {
    margin: 0 40px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.container h1 {
    color: rgba(243, 240, 240, 0.911);
}
.container .tab {
   position: relative; 
   background: #fff;
   padding: 0 20px 20px;
   box-shadow: 0 15px 25px rgba(0,0,0,0.05);
   border-radius: 5px;
   overflow: hidden;
}
.container .tab input {
    appearance: none;
}
.container .tab label {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.container .tab label::after {
    content: '+';
    position: absolute;
    right: 20px;
    font-size: 2em;
    color: rgba(247, 237, 237, 0.1);
    transition: transform 1s;
}
.container .tab:hover label::after {
    color: #333;
}
.container .tab input:checked ~ label::after {
    transform: rotate(135deg);
}
.container .tab label h2 {
    width: 40px;
    height: 40px;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.25em;
    border-radius: 5px;
    margin-right: 10px;
}
.container .tab:nth-child(2) label h2 {
    background: linear-gradient(135deg, #e2f1e2,#d0e3ca);
}
.container .tab:nth-child(3) label h2 {
    background: linear-gradient(135deg, #79e5f3,#28b9c6);
}
.container .tab:nth-child(4) label h2 {
    background: linear-gradient(135deg, #4bb3c8,#2881c6);
}
.container .tab:nth-child(5) label h2 {
    background: linear-gradient(135deg, #3f4243,#40473e);
}
.container .tab label h3 {
    position: relative;
    font-weight: 500;
    color: #333;
    z-index: 10;
}
.container .tab .content {
    max-height: 0;
    transition: 1s;
    overflow: hidden;
}
.container .tab input:checked ~ .content {
    max-height: 100vh;

}
.container .tab .content p {
    position: relative;
    padding: 10px 0;
    color: #333;
    z-index: 10;
}
